@mixin font-Dosis() {
  font-family: 'Dosis', 'Arial', sans-serif;
}

@mixin font-Roboto() {
  font-family: 'Roboto', 'Arial', sans-serif;
}

@mixin font-FontAwesome() {
  font-family: 'FontAwesome';
}
